{% extends "base.html" %}
{% load url from future %}

{% block title %}
<h1>Login</h1>
{% endblock %}

{% block content %}
<p>If you don't own an account for this site, you can <a href="{% url 'register' %}">register a new one</a>.</p>
{% if form.errors %}
<div class="messages">Your username and password didn't match. Please try again.</div>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
