{% extends "base.html" %}

{% block breadcrumb %}<a href="{% url home %}">Home</a>{% endblock %}
{% block title %}<h1>Registration Success</h1>{% endblock %}
{% block content %}
<p>The registration succeeded. You will now receive an email containing a link to activate your account.</p>
{% endblock %}
