{% load translator %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css"/>
  <style TYPE="text/css">
    <!--
    img { border: 1px dotted gray; }
    -->
  </style>
  <script type="text/javascript" src="{{ STATIC_URL }}js/translator.js"></script>
</head>

<body>
<table id="cbox"><tr>
    <td width="50%"><img src="{{ img.img_url }}"></td>
    <td width="50%" align="center" valign="center">{% if img.translation = None %}
        <img src="{{ STATIC_URL }}img/cross.png" {{ img|cross_dim }}>
        {% else %}
        <img src="{{ img.translation.img_url }}">
        {% endif %}
    </td>
</tr>
<tr>
    <td><!--<input type="checkbox"> This image does not need translation--></td>
    <td>{% if translator %}
        <em>{% if img.translation = None %}<a href="{{ upload_link }}" onclick="return open_upload(this);">upload image...</a>
            {% else %}<a href="{{ upload_link }}" onclick="return open_upload(this);">upload new...</a>
            {% endif %}
        </em>
        {% endif %}
    </td>
</tr></table>
</body>
</html>
