{% extends "base.html" %}

{% block breadcrumb %}Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a>{% endblock %}
{% block title %}<h1>Add new Language</h1>{% endblock %}

{% block content %}
<form action="." method="post">
  {% csrf_token %}
  <table class="form">
  {{ form.as_table }}
  </table>
  <input type="submit" value="Add">
</form>
{% endblock %}
