{% extends "base.html" %}
{% load translator %}

{% block breadcrumb %}Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a>{% endblock %}
{% block title %}<h1>{{ series.title }} - Permissions</h1>{% endblock %}

{% block content %}

<form action="." method="post">
{% csrf_token %}
<div style="float:left; margin-left: 1em;">
  <div style="padding: 0.3em; border: 1px solid #D9D9D9;">
  <h2>Administrators</h2>
  <ul>
    {% for pers in admins %}
    <li>{{ pers|disp_user }}</li>
    {% endfor %}
  </ul>
  </div>
  {% if is_admin %}
  <div>{{ form.admin_username.errors }}{{ form.admin_username }} <input type="submit" value="Add"></div>
  {% endif %}
</div>

<div style="float:left; margin-left: 1em;">
  <div style="padding: 0.3em; border: 1px solid #D9D9D9;">
  <h2>Translators</h2>
  <ul>
    {% for pers in translators %}
    <li>{{ pers|disp_user }}</li>
    {% endfor %}
  </ul>
  </div>
  {% if is_admin %}
  <div>{{ form.trans_username.errors }}{{ form.trans_username }} <input type="submit" value="Add"></div>
  {% endif %}
</div>
</form>
{% endblock %}
