{% extends "base.html" %}
{% load translator %}

{% block breadcrumb %}{% endblock %}
{% block title %}<h1>{{ series.title }}</h1>{% endblock %}

{% block content %}
<p>This series contains the following document(s):</p>
<table class="list">
  <thead><tr><td></td>
      {% for lang in languages %}
      <th>{{ lang.name }}</th>
      {% endfor %}
  </tr></thead>
  <tbody>
{% for doc in documents %}
  <tr class="{% cycle 'odd' '' %}">
      <td>&bull; {{ doc }}
          <div class="note" style="margin-left: 1em;">(uploaded on {{ doc.up_time }})</div>
      </td>
      {% for lang in languages %}
      <td><a href="{% url document_detail series.uuid doc.id lang.code %}">{{ doc|show_stats:lang|safe }}</a>
          {{ doc|reserved_by:lang|safe }}
      </td>
      {% endfor %}
      {% if is_admin %}
      <td><a href="{% url document_upload series.uuid doc.pk %}" class="button" title="Upload a new version of the same document">Upload</a></td>
      {% endif %}
  </tr>
{% endfor %}
  </tbody>
</table>
{% if is_admin %}
<div style="margin-top:1em; float: right;"><a href="{% url series_perms series.uuid %}">Permissions…</a></div>
<div style="margin-top:1em;">
    <a class="button" href="{% url document_new series.uuid %}">Add a document…</a>
    <a class="button" href="{% url language_add series.uuid %}">Add a language…</a>
</div>
{% endif %}

{% endblock %}
