body {
  margin: 0 auto;
  margin-top: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #444444;
}

div.content {
  margin: 1.5em;
}

div.loggedin {
  color: #666666;
  float: right;
  font-style: italic;
}

h1 {
  font-weight: normal;
  font-family: serif;
  background-color: #DDDDDD;
  margin-top: 2px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding: 0.3em;
}

h1.main_title {
  font-size: 300%;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}

div.breadcrumb {
  color: #333333;
  font-size: 85%;
}

table.form th {
  text-align: right;
}

ul.messages {
  list-style-type: none;
  margin: 1em 0;
  padding: 0 2em;
}
ul.messages li, div.messages {
  background-color:#FFCE7B;
  border:1px solid #FFA500;
  padding: 0.5em 1em 0.5em 3em;
  font-weight: bold;
}

ul.errorlist {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  color: red;
  font-style: italic;
}
ul.errorlist li {
  padding-left: 0;
}

a.button {
  border: 3px outset;
  background-color: #EEEEEE;
  padding: 4px 7px;
  margin: 5px;
  text-decoration: none;
}
a.button:active {
  border: 3px inset;
}

div.block {
  padding: 0.8em;
  border: 2px solid gray;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

div.note {
  font-style: italic;
  color: #666666;
  font-size: 85%;
}

div.errors {
  color: red;
}
div.error_message {
  font-family: monospace;
  white-space: pre;
  font-size: 90%;
}

span.star {
  color: red;
}

.complete {
  color: green;
}

/* Styles for document list */
table.list {
  border: 1px solid #666666 !important;
  border-left: 1px solid #666666 !important;
  border-collapse:collapse;
}
table.list td {
  vertical-align: top;
  margin: 0;
  padding: 4px 6px;
  border-left: 1px solid #D9D9D9;
}

table.list tbody tr.odd td {
  background-color: #e6e6e6;
}

/* Styles for expandable sections */
.sect-closed {
  padding-left: 0.7em;
  background-image: url("../img/tri_closed.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
  border-bottom: 1px dotted gray;
}
.sect-open {
  padding-left: 0.7em;
  background-image: url("../img/tri_open.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
  border-bottom: 1px dotted gray;
}
div.thumbnail {
  float: left;
  width: 100px;
  padding: 5px;
}

table#cbox {
  min-width: 300px;
}
/* Colorbox: make room for title at the top */
#cboxLoadedContent {
  padding-top: 1em;
}
#cboxTitle {
    top: 0px;
    bottom: none;
    text-align: left;
    font-size: 80%;
}
