{% extends "base.html" %}

{% block title %}
  <h1 class="main_title">ODF Translator</h1>
{% endblock %}

{% block content %}
<p>This tool enables you to follow a translation workflow to translate OpenDocument files.</p>

{% if user.is_authenticated %}
<div style="width: 350px; margin: 0 auto; border: 1px solid grey; padding: 0.8em;">My Series:
  <ul>{% for ser in series %}
    <li><a href="{{ ser.get_absolute_url }}">{{ ser }}</a></li>
  {% empty %}<i>None</i>
  {% endfor %}
  </ul>
  <div style="text-align: right;"><a class="button" href="{% url series_new %}">Add…</a></div>
</div>
{% else %}
  <p>Only <a href="{% url login %}?next={{request.path}}">logged-in users</a> are able to take advantage of this tool.</p>
{% endif %}

{% endblock %}
